{% extends 'base/base.html' %}
{% block content %}
{% load customtags %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shopping Cart</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <div class="container mb-3" id="starter">
        <a href="{% url 'shop' %}" class="btn btn-outline-dark"><i class="fa fa-arrow-left"></i> Continue shopping</a>
    </div>
    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for item in items %}
                        <tr>
                            <td class="align-middle"><img src="{{item.product.product_img.url}}" alt="" style="width: 50px;"> {{item.product.name|truncatewords:2}}</td>
                            <td class="align-middle">{% if request.user.account.exchange.initials == 'USD' %}${{item.product.price}}{% else %}{{item.product.price|convert:request.user.account.exchange.exchange}} {{request.user.account.exchange}}{% endif %}</td>
                            <td class="align-middle">
                                <form action="{% url 'add' %}" method="post">
                                    {% csrf_token %}
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <input type="number" name="itemId" value="{{item.id}}" hidden>
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-minus" name="action" value="remove" type="submit">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="{{ item.quantity }}">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-plus" name="action" value="add" type="submit">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </td>
                            <td class="align-middle">{% if request.user.account.exchange.initials == 'USD' %}${{item.get_total}}{% else %}{{item.get_total|convert:request.user.account.exchange.exchange}} {{request.user.account.exchange}}{% endif %}</td>
                            <td class="align-middle"><a href="{% url 'done' item.id %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-30" action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>{% if request.user.account.exchange.initials == 'USD' %}${{cart.get_cart_total}}{% else %}{{cart.get_cart_total|convert:request.user.account.exchange.exchange}} {{request.user.account.exchange}}{% endif %}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">{% if request.user.account.exchange.initials == 'USD' %}${{cart.get_shipping}}{% else %}{{cart.get_shipping|convert:request.user.account.exchange.exchange}} {{request.user.account.exchange}}{% endif %}</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>{% if request.user.account.exchange.initials == 'USD' %}${{cart.get_cart_total|add:cart.get_shipping}}{% else %}{{cart.get_cart_total|convert:request.user.account.exchange.exchange|add:cart.get_shipping|convert:request.user.account.exchange.exchange}} {{request.user.account.exchange}}{% endif %}</h5>
                            
                        </div>
                        <a href="{% url 'checkout'%}" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->

{% endblock %}