{% extends 'base/base.html'%}
{% block content %}
  {% load static %}    
{% include 'base/header.html'%}
<!-- fashion section start -->
      <div class="fashion_section">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">{% if status %}Results for "{{query}}"{% else %}{{category}}{% endif %}</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           {% if not status %}
                           {% for item in items %}
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">{{item.name}}</h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ {{item.price}}</span></p>
                                 <div class="tshirt_img"><img src="{{item.product_img.url}}"></div>
                                 <h5 class="text-dark">{{item.description}}</h5>
                                 
                                 <div class="btn_main text-center">
                                    {% if user.is_authenticated %}
                                    <div class="buy_bt update-cart" data-product="{{item.id}}"  data-action="add"><a href="#!" >Add to Cart</a></div>
                                    {% else %}
                                            <div class="buy_bt"><a href="#" onclick="return alert('Login to start shopping.')" >Add to Cart</a></div>
                                            {% endif %}
                                 </div>
                                 
                              </div>
                           </div>
                           {% endfor %}
                           {% else %}
                           {% for result in results %}
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">{{item.name}}</h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ {{result.price}}</span></p>
                                 <div class="tshirt_img"><img src="{{result.product_img.url}}"></div>
                                 <h5 class="text-dark">{{result.description}}</h5>
                                 <div class="btn_main text-center">
                                    {% if user.is_authenticated %}
                                    <div class="buy_bt update-cart" data-product="{{result.id}}"  data-action="add"><a href="#!" >Add to Cart</a></div>
                                    {% else %}
                                    <div class="buy_bt"><a href="#" onclick="return alert('Login to start shopping.')" >Add to Cart</a></div>
                                    {% endif %}
                                 </div>
                              </div>
                           </div>
                           {% empty%}
                           <h1 class="text-center">No products were found</h1>
                           {% endfor %}
                           {% endif %}
                     </div>
                  </div>
               </div>
               </div>
               
               </div>
               {% if items.has_previous %}
<a class="carousel-control-prev" href="?page={{ items.previous_page_number }}#main_slider" role="button" data-slide="prev">
    <i class="fa fa-angle-left"></i>
</a>
{% endif %}

{% if items.has_next %}
<a class="carousel-control-next" href="?page={{ items.next_page_number }}#main_slider" role="button" data-slide="next">
    <i class="fa fa-angle-right"></i>
</a>
{% endif %}

               </div>
      </div>
      <!-- fashion section end -->
      {% endblock %}