{% extends 'base/base.html' %}
{% block content %}
{% load static %}
{% load customtags %}


    <!-- Breadcrumb Start -->
    <div class="container">
        <div class="row">
            <div class="col-12 my-3">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <a class="breadcrumb-item text-dark" href="{% url 'home' %}">Home</a>
    <a class="breadcrumb-item text-dark" href="{% url 'shop' %}">Shop</a>
    <li class="breadcrumb-item active" aria-current="page">Product details</li>
  </ol>
</nav>

            </div>
        </div>
    </div>

    
    <!-- Breadcrumb End -->





    <div class="container mb-5">
        <div class="row">
            <div class="col-md-5">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                         <img class="w-100 d-block" src="{{item.get_url}}" style="height:400px;object-fit:contain" alt="Image">
                        </div>
                        {% for image in images %}
                        <div class="carousel-item">
                            <img class="w-100 d-block" style="height:400px;object-fit:contain" src="{{image.images.url}}" alt="Image">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-7">
                <form action="{% url 'update' item.pk %}" method="post">
                        {% csrf_token %}
                        <h3>{{item.name}}</h3>
                        <div class="d-flex mb-3">
                            <div class=" me-2">
                                {% include 'base/rating.html'%}
                            </div>
                        </div>
                        {% if user.is_authenticated %}
                        <h5 class="font-weight-semi-bold me-2" style="display:inline-block">{% if request.user.account.exchange.initials == 'USD' %}${{item.price}}{% else %}{{item.price|convert:request.user.account.exchange.exchange}} {{request.user.account.exchange}}{% endif %}</h5>{% if item.original_price %}<h6 style="display: inline-block;" class="text-muted ml-2"><del>{% if request.user.account.exchange.initials == 'USD' %}${{item.original_price}}{% else %}{{item.original_price|convert:request.user.account.exchange.exchange}} {{request.user.account.exchange}}{% endif %}</del></h6>{% endif %}

                        {% else %}

                        <h5 class="font-weight-semi-bold me-2" style="display:inline-block">${{item.price}}</h5>{% if item.original_price %}<h6 style="display: inline-block;" class="text-muted ml-2"><del>${{item.original_price}}</del></h6>{% endif %}
                        {% endif %}
                        
                        <p class="mb-4">{{ item.description|truncatewords:20|safe}} <a href="#!" onclick="showDescription()">read more</a></p>
                        {% if item.original_price %}
                        <p class="text-warning fw-bold">Enjoy a discount of {{item.get_discount}}% off on this item</p>
                        
                        {% endif %}
                            {% if item.size %}
                        <div class="d-flex mb-3">
                            <strong class="text-dark me-3">Sizes:</strong>
                           
                                {% for s in item.size %}
                                <div class="form-check me-2">
                                    <input type="radio" required class="form-check-input" id="size_{{s}}" name="size" value="{{s}}">
                                    <label class="form-check-label" for="size_{{s}}">{{s}}</label>
                                </div>
                                {% endfor %}
                                
                            
                        </div>
                        {% endif %}
                        {% if item.color %}
                        <div class="d-flex mb-4">
                            <strong class="text-dark me-3">Colors:</strong>
                            
                                {% for c in item.color %}
                                    <div class="form-check me-2">
                                        <input required type="radio" class="form-check-input" id="color_{{c}}" name="color" value="{{c}}">
                                        <label class="custom-control-label" for="color_{{c}}">{{c}}</label>
                                    </div>
                                {% endfor %}

                                
                            
                        </div>
                        {% endif %}

                        <div class="d-flex align-items-center gap-5">
                            <div class="d-flex align-items-center">
                                <button role="button" type="button" class="btn rounded-0 btn-sm btn-success update-quantity" data-action="add"><i class="fa fa-plus"></i></button>
                                <input type="text" id="quantity" value="1" name="quantity" style="width: 50px;" readonly min="1" class="text-center form-control form-control-sm rounded-0">
                                <button type="button" class="btn btn-sm btn-danger update-quantity rounded-0" data-action="remove"><i class="fa fa-minus"></i></button>
                            </div>
                            <button class="btn btn-success rounded-0 px-3"><i class="fa fa-shopping-cart me-1"></i> Add To Cart</button>
                        </div>
                        
                    </form>
            </div>
        </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item" id="nav-1">
                    <a class="nav-link liked text-decoration-none text-muted" aria-current="page" href="#!">Product Description</a>
                </li>
                <li class="nav-item" id="nav-2">
                    <a class="nav-link liked text-decoration-none text-muted" href="#!">Additional Information</a>
                </li>
                <li class="nav-item" id="nav-3">
                    <a class="nav-link liked text-decoration-none text-muted" href="#!">Reviews ({{item.review.count}})</a>
                </li>
            </ul>
            <div class="card d-none rounded-0" id="tab-1">
                <div class="card-body">
                    <h4 class="mb-3" id="info">Product Description</h4>
                    <p>{{item.description|safe}}</p>
                </div>
            </div>
            <div class="card d-none rounded-0" id="tab-2">
                <div class="card-body">
                    <h4 class="mb-3">Additional Information</h4>
                            <p></p>
                            <div class="row">
                                <div class="col-md-6">
                                    {{item.specification|safe}}
                                    <ul class="list-group list-group-flush">
                                        {% if item.material %}
                                        <li class="list-group-item px-0">
                                            <h6>Material: {{item.material}}</h6>
                                        </li>
                                        {% endif %}
                                        {% if item.color.all == 0 %}
                                        <li class="list-group-item px-0">
                                            <h6>Available colors: {% for c in item.color.all %}{{c}}, {% endfor %}</h6>
                                        </li>
                                        {% endif %}
                                        {% if item.size.all == 0 %}
                                        <li class="list-group-item px-0">
                                            <h6>Available sizes: {% for s in item.size.all %}{{s}}, {% endfor %}</h6>
                                        </li>
                                        {% endif %}
                                      </ul> 
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        {% if item.manufacturer %}
                                        <li class="list-group-item px-0">
                                            <h6>Manufactured by: {{item.manufacturer}}</h6>
                                        </li>
                                        {% endif %}
                                      </ul> 
                                </div>
                            </div>
                </div>
            </div>
            <div class="card d-none rounded-0" id="tab-3">
                <div class="card-body">
                    <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-4">{{item.review.count}} review(s) for {{item.name}}</h4>
                                    {% for u in item.review.all %}
                                    <div class="media mb-4">
                                        <img src="{% static 'img/user.png' %}" alt="Image" class="img-fluid me-3 mt-1" style="width: 45px;">
                                        <div class="media-body">
                                            <h6 >{{u.name|title}}<small> - <i>{{u.created_at|date:'d M, Y'}}</i></small></h6>
                                            <div class=" mb-2">
                                                {% if u.rating == 0 %}
                                                <i class="fa fa-star me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                {% elif u.rating == 1 %}
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                {% elif u.rating == 2 %}
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                {% elif u.rating == 3 %}
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                {% elif u.rating == 4 %}  
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star me-1"></i>
                                                {% elif u.rating == 5 %}    
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star text-warning me-1"></i>
                                                <i class="fa fa-star text-warning me-1"></i>

                                                {% endif %}
                                            </div>
                                            <p>{{u.comment}}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="col-md-6">
                                    <h4 class="mb-4">Leave a review</h4>
                                    <small>Your email address will not be published. Required fields are marked *</small>
                                    <div class="d-flex my-3">
                                        <p class="mb-0 me-2">Your Rating * :</p>
                                        <div class="" id="conts">
                                            <i class="fa fa-star rater" data-rate="1"></i>
                                            <i class="fa fa-star rater" data-rate="2"></i>
                                            <i class="fa fa-star rater" data-rate="3"></i>
                                            <i class="fa fa-star rater" data-rate="4"></i>
                                            <i class="fa fa-star rater" data-rate="5"></i>
                                        </div>
                                    </div>
                                    <form action="{% url 'review' item.pk %}" method="post">
                                        {% csrf_token %}
                                        <input type="number" required name="ratings" hidden id="ratings">
                                        <div class="form-group mb-3">
                                            <label for="message">Your Review *</label>
                                            <textarea name="comment" required cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="name">Your Name *</label>
                                            <input required type="text" class="form-control" name="name">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="email">Your Email *</label>
                                            <input type="email" required name="email" class="form-control" id="email">
                                        </div>
                                        <div class="form-group mb-0">
                                            <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                        </div>
                                    </form>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>


 
    <!-- Shop Detail End -->


    
    <!-- Products End -->
<script>
/// Select all the tab nav links and tab cards
const navLinks = document.querySelectorAll('.liked');
const tabCards = document.querySelectorAll('.card');

// Add a click event listener to each tab nav link
navLinks.forEach(link => {
  link.addEventListener('click', (e) => {
    e.preventDefault(); // prevent the default link behavior
    // Get the ID of the clicked tab nav link
    const targetId = e.target.parentElement.id.replace('nav', 'tab');
    // Loop through all the tab cards and hide them
    tabCards.forEach(card => {
      card.classList.add('d-none');
    });
    // Display the card that corresponds to the clicked tab nav link
    document.querySelector(`#${targetId}`).classList.remove('d-none');
  });
});

function showDescription() {
    const tab1 = document.getElementById('tab-1');
    tab1.classList.remove('d-none');
    tab1.scrollIntoView({ behavior: 'smooth' });
}

</script>
    
    
{% endblock %}