{% if item.review%}
{% if item.average_review == 0 %}
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
{% elif item.average_review == 1 %}
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
{% elif item.average_review == 2 %}
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
{% elif item.average_review == 3 %}
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
{% elif item.average_review == 4 %}  
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star mr-1"></i>
{% elif item.average_review == 5 %}    
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star text-primary mr-1"></i>
  <i class="fa fa-star text-primary mr-1"></i>
{% else %}
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
  <i class="fa fa-star mr-1"></i>
  {% endif %}
  <i>({{item.review.count}})</i>
{% endif %}