{% extends 'base/base.html' %}
{% block content %}
<!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home' %}">Home</a>
                    
                    <span class="breadcrumb-item active">Shop</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            
            <div class="col-lg-3 col-md-4 d-none d-md-block">
                
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
                <div class="bg-light p-4 mb-30">
  <form action="{% url 'shop' %}" method="post">
    {% csrf_token %}
    <a href="{% url 'shop'%}?price=A">Under $25</a><br>
    <a href="{% url 'shop' %}?price=B">$25 - $50</a>
    <div class="row mt-2 g-3 align-items-center">
        <div class="col">
            <input type="number" value="{{request.POST.min}}" required name="min" class="form-control p-1" style="border-radius: 5px;" placeholder="$Min" aria-label="Min">
        </div>
        <div class="col">
            <input type="number" value="{{request.POST.max}}" required style="border-radius: 5px;" name="max" class="form-control p-1" placeholder="$Max" aria-label="Max">
        </div>
        <div class="col text-center">
           <button type="submit" class="btn btn-sm btn-primary">Go</button>
        </div>
    </div>
  </form>
</div>

                <!-- Price End -->
             <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">FILTER BY REVIEWS</span></h5>
                <div class="bg-light p-4 mb-30">
  <a href="{% url 'shop'%}?rate=1" class="text-dark text-decoration-none">
    <small class="fa fa-star mr-1 text-primary"></small>
  <small class="fa fa-star mr-1 text-primary"></small>
  <small class="fa fa-star mr-1 text-primary"></small>
  <small class="fa fa-star mr-1 text-primary"></small>
  <small class="fa fa-star mr-1 text-primary"></small><small>Rated 5 </small>
  </a> <br><br>
  <a href="{% url 'shop' %}?rate=2" class="text-dark text-decoration-none">
    <small class="fa fa-star mr-1 text-primary"></small>
  <small class="fa fa-star mr-1 text-primary"></small>
  <small class="fa fa-star mr-1 text-primary"></small>
  <small class="fa fa-star mr-1 text-primary"></small>
  <small class="fa fa-star mr-1"></small><small>Rated 3 to 4 stars  </small>
  </a><br>
  
</div>

                <!-- Price End -->
                   
                

                
                
            </div>
            
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    
                    <!-- <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <!-- <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div> --
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Latest</a>
                                        <a class="dropdown-item" href="#">Popularity</a>
                                        <a class="dropdown-item" href="#">Best Rating</a>
                                    </div>
                                </div>
                                <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">10</a>
                                        <a class="dropdown-item" href="#">20</a>
                                        <a class="dropdown-item" href="#">30</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    {% for item in products %}

                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4 position-relative">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{{ item.product_img.url }}" alt="">
                                
                            </div>
                            <div class="text-center py-4">
                                <h6 class="h6 text-decoration-none text-truncate" href="">{{item.name|truncatewords:4}}</h6>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>${{item.price}}</h5>{% if item.original_price %}<h6 class="text-muted ml-2"><del>${{item.original_price}}</del></h6>{% endif %}
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    {% include 'base/rating.html'%}
                                </div>
                            </div>
                            <a href="{% url 'detail' item.pk %}" class="stretched-link"></a>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12">
  <nav>
    <ul class="pagination justify-content-center">
      {% if products.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      {% endif %}
      {% for i in products.paginator.page_range %}
      {% if products.number == i %}
      <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if products.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      {% endif %}
    </ul>
  </nav>
</div>

                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
<script>
  function showFilterButton() {
    document.getElementById("filter-button").style.display = "block";
  }
</script>
{% endblock %}